pkgbase = sonicde-meta
	pkgdesc = Meta package to install the Sonic Desktop Environment which aims for keeping and improving the X11-specific ascpects of KDE
	pkgver = 6.5
	pkgrel = 4
	url = https://github.com/Sonic-DE
	arch = x86_64
	license = GPL-2.0-or-later
	depends = aurorae
	depends = bluedevil
	depends = breeze
	depends = breeze-gtk
	depends = discover
	depends = flatpak-kcm
	depends = kactivitymanagerd
	depends = kde-cli-tools
	depends = kde-gtk-config
	depends = kdecoration
	depends = kdeplasma-addons
	depends = kglobalacceld
	depends = kinfocenter
	depends = kmenuedit
	depends = knighttime
	depends = kpipewire
	depends = krdp
	depends = kscreen
	depends = kscreenlocker
	depends = ksshaskpass
	depends = ksystemstats
	depends = kwallet-pam
	depends = kwayland
	depends = kwrited
	depends = layer-shell-qt
	depends = libkscreen
	depends = libksysguard
	depends = libplasma
	depends = milou
	depends = ocean-sound-theme
	depends = oxygen
	depends = oxygen-sounds
	depends = plasma-activities
	depends = plasma-activities-stats
	depends = plasma-browser-integration
	depends = plasma-desktop
	depends = plasma-disks
	depends = plasma-firewall
	depends = plasma-integration
	depends = plasma-nm
	depends = plasma-pa
	depends = plasma-systemmonitor
	depends = plasma-thunderbolt
	depends = plasma-vault
	depends = plasma-welcome
	depends = plasma-workspace-wallpapers
	depends = polkit-kde-agent
	depends = powerdevil
	depends = print-manager
	depends = sddm-kcm
	depends = sonic-silver-sddm
	depends = sonic-silver-theme
	depends = sonic-win
	depends = sonic-workspace
	depends = sonic-x11-session
	depends = spectacle
	depends = systemsettings
	depends = xdg-desktop-portal-kde
	optdepends = breeze-grub: Breeze theme for GRUB
	optdepends = breeze-plymouth: Breeze theme for Plymouth
	optdepends = kgamma: Adjust gamma settings on X
	optdepends = plymouth-kcm: Configure Plymouth from systemsettings
	optdepends = plasma-sdk: Development tools
	optdepends = wacomtablet-xlibre: Drawing tablet settings on X

pkgname = sonicde-meta
